{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<div class="container page-header-title">
    <div class="row">
        <div class="col">
           page header
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- bag items -->
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    Your bag (x items)
                </div>
                <!-- for each item in the bag print a new col -->
                <div class="col-12">
                    {% if bag_items %}
                    {{ bag_items }}<br>
                    {{ max_avail }}
                    {{ request.session.bag }}
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thread>
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thread>

                                {% for item in bag_items %}
                                <tr>
                                    <td> 
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p>{{ item.product.name }}</p>
                                        <p class="small">SKU {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p>€{{ item.product.price }}</p>
                                         
                                        {{ item.quantity }}
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
                                            {% csrf_token %}
                                                <div class="form-group w-50 form-quantity">
                                                    <!-- show quantity -->
                                                    <select class="form-control form-select qty_input" type="number" 
                                                        name="quantity" value="{{ item.quantity }}" 
                                                        data-item-id="{{ item.item_id }}"
                                                        id="id_qty_{{ item.item_id }}" >
                                                            {% for each in max_avail %}
                                                                {% if each.item_id ==  item.item_id %}
                                                                    {% for i in each.max_avail %}
                                                                        <option value="{{ i|add:1 }}"{% if i|add:1 == item.quantity %} selected {% endif %}>{{ i|add:1 }}</option>
                                                                    {% endfor %}
                                                                {% endif %}
                                                            {% endfor %}
                                                    </select>
                                                </div>
                                        </form>
                                        <a class="update-link"><small class="green-text">Update</small></a>
                                        <a class="remove-item text-danger ml-4" id="remove_{{ item.item_id }}">remove<i class="fas fa-times"></i></a>
                                    </td>
                                    <td class="py-3">
                                        <p>€{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        <h6><strong>Bag Total: {{ total|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 text-danger">
                                                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="" class="btn btn-black rounded-0 btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <p class="lead mb-5">
                            Your bag is empty
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black">

                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- total box -->
        <div class="col-3">

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="text/javascript">
    // update the quantity in bag
    $('.update-link').click(function(e){
        var form = $(this).prev('.update-form');
        form.submit();
    });

    // remove the item from bag
    $('.remove-item').click(function(e){
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
        };
        $.post(url, data)
            .done(function() {
                location.reload();
            });
        });
</script>
{% endblock %}
