{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<div class="container page-header-title">
    <div class="row">
        <div class="col">
           page header
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- bag items -->
        <div class="col-9">
            <div class="row">
                <div class="col-12">
                    Your bag (x items)
                </div>
                <!-- for each item in the bag print a new col -->
                <div class="col-12">
                    {% if bag_items %}
                    {{ bag_items }}<br>
                    {{ request.session.bag }}
                        <div class="table-responsive rounded">
                            <table class="table table-sm table-borderless">
                                <thread>
                                    <tr>
                                        <th scope="col">Product Info</th>
                                        <th scope="col"></th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col">Subtotal</th>
                                    </tr>
                                </thread>

                                {% for item in bag_items %}
                                <tr>
                                    <td> 
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                                    </td>
                                    <td class="py-3">
                                        <p>{{ item.product.name }}</p>
                                        <p class="small">SKU {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p>€{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3">
                                        <form class="form update-form" method="POST" action="">
                                            {% csrf_token %}
                                            <div class="form-group w-50 form-quantity">
                                                <input class="hidden" type="hidden" id="product_quantity" name="product_quantity" value="{{ item.quantity }}">
                                                <div class="form-group qty_{{item.quantity}}">
                                                    <select id="quantity_id_{{item.item_id}}"  selected = "{{ item.quantity }}" class="form-select form-control form-control-sm qty_input" name="quantity">
                                                    </select>
                                                </div>
                                            </div>
                                        </form>
                                        <a class="update-link"><small class="green-text">Update</small></a>
                                        <a class="remove-item text-danger ml-4" id=""><i class="fas fa-times"></i></a>
                                    </td>
                                    <td class="py-3">
                                        <p>{{ item.product.price }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="5" class="pt-5 text-right">
                                        <h6><strong>Bag Total: ${{ total|floatformat:2 }}</strong></h6>
                                        <h6>Delivery: ${{ delivery|floatformat:2 }}</h6>
                                        <h4 class="mt-4"><strong>Grand Total: ${{ grand_total|floatformat:2 }}</strong></h4>
                                        {% if free_delivery_delta > 0 %}
                                            <p class="mb-1 text-danger">
                                                You could get free delivery by spending just <strong>${{ free_delivery_delta }}</strong> more!
                                            </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="5" class="text-right">
                                        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                            <span class="icon">
                                                <i class="fas fa-chevron-left"></i>
                                            </span>
                                            <span class="text-uppercase">Keep Shopping</span>
                                        </a>
                                        <a href="" class="btn btn-black rounded-0 btn-lg">
                                            <span class="text-uppercase">Secure Checkout</span>
                                            <span class="icon">
                                                <i class="fas fa-lock"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    {% else %}
                        <p class="lead mb-5">
                            Your bag is empty
                        </p>
                        <a href="{% url 'products' %}" class="btn btn-outline-black">

                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- total box -->
        <div class="col-3">

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_dropdown_script.html' %}

<script type="text/javascript">
    $(function () {
        let $quantity = $(".qty_input");
        for (i = 1; i < 100; i++) {
            $quantity.append($('<option></option>').val(i).html(i));
        }

        $('.hidden').each(function () {
            let quantity = $(this).val();
            $(`div.qty_${quantity} select`).val(quantity);
        });
    });

</script>

{% endblock %}
