{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <!-- hero banner -->
    <section class="top-banner-section py-0">
        <div class="banner-image-div">
            <img class="banner-image" src="https://katie-harte-art.s3.amazonaws.com/media/banner-img.jpg" alt="Banner Image" />
        </div>
        <div class="banner-overlay-div"></div>
    </section>

    <!--intro section-->
    <section class="home-intro container text-center py-4 py-md-5">
         <div class="row">
             <div class="col-12">
                <h1>Katie Harte, Wildlife Artist</h1>
                <p class="lead pt-3"> Full time vet nurse & passionate artist.</p>
                <a href="{% url 'about' %}" class="mt-3 mt-sm-4 btn btn-gen about-btn btn-lg">About me</a>
             </div>
         </div>
        </section>

    <!--shop categories section-->
    <section class="home-shop py-4 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Shop Online</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7">
                    <p class="lead">
                        <strong>Beautiful artwork, for beautiful spaces.</strong>
                    </p>
                    <p>
                        From resilient Irish wildlife to clever, beloved pets.
                        <br>
                        Take a journey through the current collection, into my world of animal inspired art.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=original_artwork">
                        <div id="category-img-1"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Original Artwork">
                            <div class="category-title-wrapper text-center">
                                <h3>Original Artwork</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=prints">
                        <div id="category-img-2"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Prints">
                            <div class="category-title-wrapper text-center">
                                <h3>Prints</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=greeting_cards">
                        <div id="category-img-3"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Greeting Cards">
                            <div class="category-title-wrapper text-center">
                                <h3>Greeting Cards</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>     
    </section>

    <!--pet commissions section-->
    <section class="home-commissions container -y-4 py-md-5">
        <div class="row">
            <div class="col-12">
                <h2>
                    Pet Commissions
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="lead">
                    Bring your pets to life!
                </h3>
                <p>
                    <em>
                        A pet portrait is more than a likeness or a record - it is a celebration and a
                        memory to treasure for years to come.
                    </em>
                </p>
                <p>
                    Hugely popular, contact me to immortalise your own favourite pet or animal.
                </p>
                <div class="row">
                    <div class="col-12 text-center text-md-left">
                        <a href="{% url 'commissions' %}" class="mt-3 mt-sm-4 btn btn-gen btn-lg"><strong>Read more</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 home-commission-wrapper ">
                    <div id="category-img-4"
                        class="home-commission-img box-shadow box-shadow-hover"
                            title="Pet Commissions">
                    </div>
            </div>
        </div>
    </section>
{% endblock %}