{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <!-- hero banner -->
    <!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
    <section class="top-banner-section py-0">
        <!-- The CSS grid area that displays the image (layer 1) -->
        <div class="banner-image-div">
            <img class="banner-image" src="https://katie-harte-art.s3.amazonaws.com/media/banner-img.jpg" alt="Banner Image" />
        </div>
        <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
        <div class="banner-overlay-div"></div>
    </section>
    <section class="home-intro container text-center py-4 py-md-5">
         <div class="row">
             <div class="col-12">
                <h1> Beautifully Illustrated Artwork, by Katie Harte.</h1>
                <p class="lead pt-3"> Full time vet nurse & passionate artist.</p>
                <a href="{% url 'about' %}" class="mt-3 mt-sm-4 btn about-btn btn-lg">About me</a>
             </div>
         </div>
    </section>
    <section class="home-shop py-4 py-md-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Shop Online</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p class="lead">
                        <strong>Big, bold, statement work to grace your world.</strong>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no
                        sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=original_artwork">
                        <div id="category-img-1"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Original Artwork">
                            <div class="category-title-wrapper text-center">
                                <h3>Original Artwork</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=prints">
                        <div id="category-img-2"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Prints">
                            <div class="category-title-wrapper text-center">
                                <h3>Prints</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4 home-category-wrapper">
                    <a href="{% url 'products' %}?category=greeting_cards">
                        <div id="category-img-3"
                            class="home-category-img d-flex align-items-end box-shadow sm-box-shadow-hover"
                            title="Greeting Cards">
                            <div class="category-title-wrapper text-center">
                                <h3>Greeting Cards</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
        </div>     
    </section>
    <section class="home-commissions container py-4">
        <div class="row">
            <div class="col-12">
                <h2>
                    Pet Commissions
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="lead">
                    Bring your pets to life!
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>

                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <div class="row">
                    <div class="col-12 text-center text-md-left">
                        <a href="{% url 'commissions' %}" class="mt-3 mt-sm-4 btn btn-lg commissions-btn"><strong>Read more</strong></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 home-commission-wrapper ">
                    <div id="category-img-4"
                        class="home-commission-img box-shadow box-shadow-hover"
                            title="Pet Commissions">
                    </div>
            </div>
        </div>
    </section>
{% endblock %}