{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <!-- hero banner -->
    <!-- The CSS grid that makes up the entirety of the hero image/banner image area -->
    <section class="top-banner-section">
        <!-- The CSS grid area that displays the image (layer 1) -->
        <div class="banner-image-div">
            <img class="banner-image" src="https://katie-harte-art.s3.amazonaws.com/media/banner-img.jpg" alt="Banner Image" />
        </div>
        <!-- The CSS grid area that displays the semi-transparent gradient overlay (layer 2) -->
        <div class="banner-overlay-div"></div>
    </section>
    <section class="home-intro container text-center">
         <div class="row">
             <div class="col-12">
                <h1> Beautifully Illustrated Artwork, by Katie Harte.</h1>
                <p> Full time vet nurse & passionate artist.</p>
                <a href="#" class="mt-4 btn btn-outline-primary">About me</a>
             </div>
         </div>
    </section>
    <section class="home-shop">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Shop Online</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <p>
                        <strong>Big, bold, statement work to grace your world.</strong>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                        sed diam nonumy eirmod tempor invidunt ut labore et dolore 
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam 
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no 
                        sea takimata sanctus est Lorem ipsum dolor sit amet. 
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <a href="{% url 'products' %}?category=original_artwork">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://katie-harte-art.s3.amazonaws.com/media/20210803_230621.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-text text-center">
                                Original Artwork
                            </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="{% url 'products' %}?category=prints">
                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="https://katie-harte-art.s3.amazonaws.com/media/20210803_230336.jpg" alt="Card image cap">
                            <div class="card-body">
                            <h3 class="card-text text-center">
                                Prints
                            </h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-md-4">
                    <a href="{% url 'products' %}?category=greeting_cards">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="https://8000-bronze-beetle-9jka3mep.ws-eu16.gitpod.io/media/20210803_230053.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h3 class="card-text text-center">
                            Greeting Cards
                        </h3>
                        </div>
                    </div>
                </a>
                </div>
            </div>      
        </div>
    </section>
    <section class="home-commissions container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h2>
                    Pet Commissions
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy 
                    eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam 
                    voluptua. At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </p>
                <a href="#" class="mt-4 btn btn-outline-info"><strong>Read more</strong></a>
            </div>
            <div class="col-12 col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://katie-harte-art.s3.amazonaws.com/media/54242424311.JPG" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}