/* home banner */
/* CREDIT 
   https://dev.to/billraymond/creating-a-pure-responsive-css-grid-hero-image-or-banner-image-2pej */
.top-banner-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 350px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-content: center;
    justify-content: center;
}

.banner-image-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-overlay-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-text-div {
    grid-area: 1 / 1 / 2 / 2;
}

.banner-image {
    display: grid;
    min-width: 350px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner-overlay-div {
    display: grid;
    max-width: 100%;
    background: black;
    background: linear-gradient(8deg, rgb(60 14 76 / 64%) 0%, rgba(255, 255, 255, 0) 49%);
}

/* category section */
.home-shop {
    background-color: #0095ff1a;
}

/* category cards */
.home-category-wrapper {
    height: 400px;
    padding: 25px;
}

.card-img-top {
    height: 24vw;
}

#category-img-1 {
    background-image: url(https://katie-harte-art.s3.amazonaws.com/media/20210803_230621.jpg);
}

#category-img-2 {
    background-image: url(https://katie-harte-art.s3.amazonaws.com/media/20210803_230336.jpg);
}

#category-img-3 {
    background-image: url(https://katie-harte-art.s3.amazonaws.com/media/20210803_230053.jpg);
}

#category-img-4 {
    background-image: url(https://katie-harte-art.s3.amazonaws.com/media/commissions-three-dogs.JPG);
}

.home-category-img {
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    background-position: top 15%;
}

.home-category-img:hover{ 
    box-shadow: 4px 8px 8px rgb(189, 180, 180) !important;
   -webkit-transition:  box-shadow .3s ease-in;
 }

.box-shadow {
    -webkit-box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
    box-shadow: 0 2px 4px rgb(0 0 0 / 16%), 0 2px 4px rgb(0 0 0 / 23%);
}

.category-title-wrapper {
    width: 100%;
    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.7);
}

/* commission section */
.home-commission-wrapper {
    height: 350px;
}

.home-commission-img {
    height: 105%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    background-position: top;
}

/* 992px plus */
@media screen and (min-width: 992px) {
    .home-category-wrapper {
        height: 420px;
    }
    .home-commission-wrapper {
        padding-left: 150px;
    }
    .home-category-img {
        height: 115%;
    }
}

@media screen and (max-width: 992px){
    .home-commission-img {
        height: 80%;
    }
}
