
.about-img {
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    -webkit-transition: 0.2s all ease-in-out 0.2s;
    transition: 0.2s all ease-in-out 0.2s;
    background-position: top;
}

.card-img-about{
        height: 22vw;
        -o-object-fit: cover;
        object-fit: cover;
        object-position: center 20%;
}

@media (max-width: 991px){
    .card-img-about {
        height: 350px !important;
    }
}