.blog-img {
    object-fit: cover;
    object-position: 50% 50%;
}

@media (max-width: 375px) {
    .blog-img {
        height: 150px;
    }
}

.blog-read-more{
    color:#035cd8; 
    font-style: italic;
}

.comments-section{
    background-color: #d4d3ff59;
}

.blog-img-top {
    width: 100%;
    height: 20vw;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center 20%;
}

@media (max-width: 900px) {
    .blog-img-top {
        height: 30vw;
    }
}