{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %} - Checkout Success{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--checkout progress-->
<section class="page-header-block">
    <div class="container">
        <div class="row justify-content-center pt-3">
            <div id="checkout-circle-box" class="col-10 col-md-8 col-lg-6">
                <hr id="checkout-hr">
                <div id="checkout-circles" class="d-flex justify-content-between">
                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle active">
                            <i class="fas fa-check"></i>
                        </div>
                        <p>Basket</p>
                    </div>

                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle active">
                            <i class="fas fa-check"></i>
                        </div>
                        <p>Checkout</p>
                    </div>

                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle active">
                            <i class="fas fa-check"></i>
                        </div>
                        <p>Done</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- header -->
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Thank you for your order</h1>
            <p class="lead">
                Your payment was successfully received. Thank you for supporting my Artwork!
            </p>
            <p>A confirmation email has been sent to <strong>{{ order.email }}</strong>.
                <br>I hope you enjoy your Artwork. If you have any questions about your order, feel free to <a href="{% url 'contact' %}">contact me.</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-7">
            <div class="order-confirmation-wrapper p-4 my-3 mt-md-4 shadow bg-white">
                <!--order summary title-->
                <div class="row">
                    <div class="col-12">
                        <h2>Order summary</h2>
                    </div>
                </div>
                <hr>
                <div class="order-datails-section my-3">
                    <!-- order details-->
                    <div class="row">
                        <div class="col-12">
                            <h3 class="mb-0">Order Info</h3>
                        </div>
                    </div>
                    <!--order num-->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.order_number }}</p>
                        </div>
                    </div>
                    <!--order date-->
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Order Date</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.date }}</p>
                        </div>
                    </div>
                </div>
                <!--products ordered section-->
                <div class="products-ordered-section my-3">
                    <div class="row">
                        <div class="col-12">
                            <h3>What's on the way?</h3>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">
                                {{ item.product.name }}{% if item.product_size %} - Size {{ item.product.size|upper }}{% endif %}
                            </p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ item.quantity }} @ €{{ item.product.price }} each</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <!--shipping details section-->
                <div class="shipping-details-section my-3">
                    <div class="row">
                        <div class="col-12">
                            <h3>Shipping to:</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.first_name }} {{ order.last_name }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address line 1</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.address_line1 }}</p>
                        </div>
                    </div>
    
                    {% if order.address_line2 %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Address line 2</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.address_line2 }}</p>
                        </div>
                    </div>
                    {% endif %}
    
                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>
    
                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>
    
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-end">
                            <p class="mb-0">{{ order.mobile_number }}</p>
                        </div>
                    </div>
                </div>

                <div class="billing-details-section">
                    <div class="row">
                        <div class="col-12">
                            <h3>
                                Billing details
                            </h3>
                        </div>
                    </div>
                </div>
                <!--subtotal-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Subtotal</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">€{{ order.order_total }}</p>
                    </div>
                </div>
                <!--delivery-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Delivery cost</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">€{{ order.delivery_cost }}</p>
                    </div>
                </div>
                <!--grand total-->
                <div class="row">
                    <div class="col-12 col-md-4">
                        <p class="mb-0 font-weight-bold">Grand total</p>
                    </div>
                    <div class="col-12 col-md-8 text-md-end">
                        <p class="mb-0">€{{ order.grand_total }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'products' %}?category=original_artwork,prints,greeting_cards" class="btn">
                <span class="icon mr-2">
                    <i class="fas fa-chevron-left mx-2"></i>
                </span>
                <span class="text-uppercase font-weight-bold">CONTINUE SHOPPING</span>
            </a>
        </div>
    </div>
    {% if from_profile %}
    <div class="row">
        <div class="col-12 col-lg-7 text-right">
            <a href="{% url 'profile' %}" class="btn btn-gen btn-long btn-md text-start mt-3 mt-sm-4">
                <span class="icon mr-2">
                    <i class="fas fa-chevron-left mx-2"></i>
                </span>
                Go to Profile
            </a>
        </div>
    </div>
    {% endif %}
</section>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
