{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<!--checkout progress-->
<section class="page-header-block">
    <div class="container">
        <div class="row justify-content-center">
            <div id="checkout-circle-box" class="col-10 col-md-8 col-lg-6">
                <hr id="checkout-hr">
                <div id="checkout-circles" class="d-flex justify-content-between">
                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle active">

                            1

                        </div>
                        <p>Basket</p>
                    </div>

                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle ">

                            2

                        </div>
                        <p>Checkout</p>
                    </div>

                    <div class="checkout-circle-wrapper">
                        <div class="checkout-circle ">

                            3

                        </div>
                        <p>Done</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!--payement & info section-->
<section class="container">
    <div class="row">
        <!--order summary-->
        <div class="col-12 col-lg-5 d-block">
            <!--mobile bag-->
            <div class="bg-white shadow-lg rounded p-3">
                <!--header-->
                <h3>
                    Order Summary
                </h3>
                {% for item in bag_items %}
                <!--item details-->
                <div class="row">
                    <div class="col-4 mb-3">
                        {% include 'bag/product-image.html' %}
                    </div>
                    <div class="col-8 b-3">
                        <p>
                            <strong>{{ item.product.name }}</strong>
                            <br>
                            Size: {{ item.product.size }}
                            <br>
                            Media: {{ item.product.media }}
                        </p>
                        <p class="text-end">
                            x {{item.quantity}} @ 
                            €{{ item.product.price | calc_subtotal:item.quantity }}
                        </p>
                    </div>
                </div>
                <!--hr-->
                <div class="row my-2">
                    <div class="col-12">
                        <hr class="bag-hr">
                    </div>
                </div>
                {% endfor %}
                <!--total box-->
                <div class="row">
                    <div class="col-12">
                        <div class="total-box-wrapper table-responsive borderless">
                            <table class="table table-sm table-borderless">
                                <tbody>
                                    <tr>
                                        <td class="pt-3 text-end">
                                            <h6>
                                                <strong>Sub total: </strong>{{ total|floatformat:2 }}
                                            </h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-1 text-end">
                                            <h6>
                                                <strong> Delivery: </strong> €{{ delivery|floatformat:2 }}
                                            </h6>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="pt-2 text-end">
                                            <h5 class="my-2"><strong>Total <span class="small">(VAT inc)</span>:
                                                    €{{ grand_total|floatformat:2 }}</strong></h5>
                                        </td>
                                    </tr>
                                    {% if free_delivery_delta > 0 %}
                                    <tr>
                                        <td class="pt-2 text-end">
                                            <p class="mb-1 text-pink">
                                                Avail of free delivery by spending
                                                <strong>€{{ free_delivery_delta }}</strong> more!
                                            </p>
                                        </td>
                                    </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end mobile bag-->
        </div>
        <!--order form-->
        <div class="col-12 col-lg-7">
            <!--header-->
            <div class="p-3 bg-white shadow mt-3 mt-md-0">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset class=" mb-5">
                    <legend class="fieldset-label text-black px-2 w-auto">
                    Your Information
                    </legend>
                    {{ order_form.first_name | as_crispy_field }}
                    {{ order_form.last_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset class="mb-5">
                    <legend class="fieldset-label text-black px-2 w-auto">Shipping info:</legend>
                    {{ order_form.mobile_number | as_crispy_field }}
                    {{ order_form.address_line1 | as_crispy_field }} 
                    {{ order_form.address_line2 | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    <div class="form-check form-check-inline float-right mr-0">
                        {% if user.is_authenticated %}
                            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                            <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
                        {% else %}
                            <label class="form-check-label" for="id-save-info">
                                <a href="{% url 'account_login' %}">
                                    Login
                                </a>or 
                                <a href="{% url 'account_signup' %}">
                                    Register
                                </a>
                                to save this information.
                            </label>
                        {% endif %}
                    </div>
                </fieldset>
                <fieldset>
                    <legend class="fieldset-label text-black w-auto px-2">Payment</legend>
                    <!-- A Stripe card element will go here -->
                    <div class="mb-3" id="card-element"></div>

                    <!-- Used to display form errors -->
                    <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                    <!-- Pass the client secret to the view so we can get the payment intent id -->
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>

                <div class="submit-button text-right my-2"> 
                    <button id="submit-button" class="btn btn-gen w-100 btn-lg">
                        <span class="font-weight-bold">Complete Order</span>
                        <span class="icon">
                            <i class="fas fa-lock"></i>
                        </span>
                    </button>
                    <p class="small text-danger my-3">
                        <span class="icon">
                            <i class="fas fa-exclamation-circle"></i>
                        </span>
                        <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                    </p>               
                    <a href="{% url 'view_bag' %}">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="font-weight-bold">Adjust Bag</span>
                    </a>
                </div>
                </form>            
            </div>
        </div>
    </div>

</section>

<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}
