@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sniglet&display=swap');

/* typography */
body *{
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
.lead {
    font-family: 'Sniglet', cursive;
}

.red-text{
    color: rgb(155, 4, 4);
}

.blue-text{
    color: #1f63bf;
}

.text-pink{
    color:#e715a6;
}

.text-active{
    color: #035cd8 !important;
}

.text-purple{
    color: purple;
}

.font-weight-bold{
    font-weight:600;
}

.logo-text{
    font-family: 'Neucha', cursive !important;
    font-size: 2em;
    color: #1f63bf;
    font-weight: 500;
} 

.user-icon-text{
    display:block;
    font-size: 1rem;
}

/* global formatting */
html{
    height: 100%;
}

body{
    background-size: cover; 
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Lato';
}

.page-header-block{
    background-color: #0095ff1a;
}


.min-height-container{
    min-height: 30vh;
}

section{
    padding: 2rem 0;
}

/* cards */
.card {
    border: none;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    -o-object-fit: cover;
     object-fit: cover;
     object-position: center 20%;
}
/* toast */
.toast-header {
    display: flex;
    align-items: center;
    padding: .5rem .75rem;
    color: #6c757d;
    border-bottom: 1px solid rgba(0,0,0,.05);
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    justify-content: space-between;
    font-size:1.1rem;
}

button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size:1.7rem;
}

/* hr */
hr{
    background-color: #000000;
    border: .4px solid black;
    border-radius: 7px 7px 7px 7px;
    margin: auto
}

.skinny-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

/* buttons */
.btn-long{
    width: 20rem !important;
}

.btn{
    font-weight: bold;
}

.btn-gen {
    border-color: #1abfd0;
    color: #fff;
    box-shadow: 0 0 40px 40px #2aa6b3 inset, 0 0 0 0 #2aa6b3;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }

.btn-gen:hover {
    box-shadow: 0 0 2px 0 #2aa6b3 inset, 0 0 2px 2px #2aa6b3;
    color: #2aa6b3;
    background-color:white
}

.back-to-top-button{
    height: 3rem;
    width: 3rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.7rem;
}

/* search bar */
.input-group .btn {
    height: 2.8rem;
}

.search-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-query-input{
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}

#search-query-submit-group{
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
}

#search-query-submit > button :hover {
    cursor: pointer;
}

.input-group>.form-control:focus, .input-group>.form-select:focus {
    z-index: 0;
}

/* navbar */
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0; 
    padding-bottom: 0;
}

.navbar-light .navbar-toggler {
    border: hidden;
}

.fixed-top{
    box-shadow: 0px 1px 10px #999;
}

.nav-link,
a,
.navbar-light .navbar-nav .nav-link{
    color: black;
    text-decoration: none;
}

.nav-link:hover,
a:hover,
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover{
    color: #035cd8;
}

.nav-item{
    padding: 0 10px;
}

.nav-link {
    display: block;
    padding: .2rem .5rem;
    text-align: center;
}

.dropdown-item{
    font-size:1rem;
}

.dropdown-item:hover{
    background-color: white;
}

.navbar-light .navbar-nav .nav-link,
footer a{
    color: black;
    text-decoration: none;
}
.navbar-web-links{
    font-size: 1.2rem;
}

.main-logo-link{
    width: fit-content;
}

button:focus:not(:focus-visible) {
    outline: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

/* overlay */
.body-wrapper{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.fabric-overlay{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: url(https://i.ibb.co/QrXcP79/foggy-birds.png);
    background-position: 0 0;
    background-size: 250px;
    opacity: .95;
}

/* global cart */
#cart-has-contents {
    background-color: #F15bb5;
    height: 18px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-left: -18px;
}

/* progess steps */
#checkout-circles {
    margin-top: -3.3rem;
  }
  
.checkout-circle-wrapper {
    width: 100px;
    text-align: center;
    display: inline-block;
}
  
.checkout-circle {
    background-color: white;
    border: 1px solid #373737;
    color: #373737;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 4.5rem;
    font-size: 1.3rem;
}
  
.checkout-circle.active {
    background-color: #f15bb5;
    color: white;
}

/* hr for progress steps in global checkout*/
#checkout-hr {
    border-top: 1px solid #000;
    margin: .9rem auto;
    width: 80%;
    opacity: 1;
  }

/* Grow hover effect */
/* CREDIT https://ianlunn.github.io/Hover/ */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.3);
}

/*icons */
.user-icon{
    font-size:1.5rem
}

.update-link,
.remove-item{
    cursor: pointer;
}

#mobile-icons{
    margin-bottom: 0;
}

/* search bar*/
input[name='q']::placeholder{
    color: #aab7c4
}

/* forms */
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(255 201 41);
}

:focus-visible {
    outline: 0;
}

.form input,
form input[type=text],
.form textarea,
.form select {
    /*width: 100%; */
    padding: 6px 8px;
    margin: 8px 0 !important;
    display: inline-block;
}

.form textarea{
    max-height: 200px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.form-group > label{
    font-weight: 600;
    margin-bottom: .6rem;
}


/* messages */
.message-container {
    position: fixed;
    top: 5rem;
    right: 1rem;
    z-index: 9999;
    background-color: #ffffffc9;
}

/* footer */

#footer{
    background-color: #f9c5e4ad;
    padding: 30px 0 20px;
    overflow-x: hidden;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    font-size:1.1rem;
}
/* alluath */

.allauth-form-inner-content label:not([for='id_remember']){
    display:none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

/* ----- Media Queries */

/* 1200px plus */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* 992px plus */
@media (min-width: 992px) {
    .text-md-left {
        text-align: left !important;
    }
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    #mobile-icons {
        display: none;
    }
    .header-container {
        padding-top: 140px;
    }
    .text-lg-right {
        text-align: right !important;
    }
    .logo-text{
        font-size: 1.8rem;
    }
}

/* max 991px */
@media (max-width:991px) {
    .header-container {
        padding-top: 70px;
    }

    body {
        height: calc(100vh - 116px);
    }

    #footer {
        text-align: center;
    }

    .main-logo-link {
        width: 100%;
    }

    #footer .row .col-12 {
        margin-bottom: 30px;
        vertical-align: center;
    }
    #cart-has-contents {
        top: 5%;
        left: 98%;
    }
    .nav-link{
        text-align: left;
    }
    .btn-long{
        width:100% !important;
    }
    .card-img-top {
        height: 200px !important;
    }
}

/*.icon{
    align-items:center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}


.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

.form-select {
    width: 70px;
}

.form-group input,
.form-group textarea,
.form-group select{
    margin-bottom: 10px;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.circle {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}

#image-clear_id{
    width:auto;
}
products
img{
    max-height: 100%;
    max-width: 100%;
}
*/