
/* typography */
.price-text{
    font-size:1.6rem;
}

.product-name {
    overflow: hidden;
    max-width: 20ch;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

/* form */
select option:not(:first-child){
    color: #000;
}

select option:first-child{
    color: #aab7c4;
}

.form-group {
    margin-bottom: 1.4rem;
}

/* cards */
.product-card .card-img-top{
    height: 300px !important;
}

.product-card:hover{ 
    box-shadow: 4px 20px 20px rgb(189, 180, 180) !important;
   -webkit-transition:  box-shadow .3s ease-in;
 }

.main-card-img {
    width: 100%;
    max-height: 40vw;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center 20%;
}

/* star rating */

.star-rating-icon{
    color: gold;
}

/* hrs */
.hr-reviews{
    margin: 15px 0;
    border: 1px;
} 

/* color styling */
.replies-section{
    background-color: #d4d3ff59;
}
