
/* typography */
.price-text{
    font-size:1.6rem;
}

/* form */
select option:not(:first-child){
    color: #000;
}

select option:first-child{
    color: #aab7c4;
}

/* cards */
.product-card .card-img-top{
    height: 300px !important;
}

.main-card-img {
    width: 100%;
    max-height: 40vw;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: center 20%;
}

/* star rating */

.star-rating-icon{
    color: gold;
}

/* hrs */
.hr-reviews{
    margin: 15px 0;
    border: 1px;
} 

/* color styling */
.replies-section{
    background-color: #d4d3ff59;
}
