<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'about' %}" id="about-link" aria-haspopup="true" aria-expanded="false">
                About
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link mr-5" href="{% url 'blog' %}" id="blog-link" aria-haspopup="true" aria-expanded="false">
                Blog
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link mr-5" href="#" id="artwork-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="artwork-link">
                <a href="{% url 'products' %}?category=original_artwork,prints,greeting_cards" class="dropdown-item">View all</a>
                <a href="{% url 'products' %}?category=original_artwork" class="dropdown-item">Original Artwork</a>
                <a href="{% url 'products' %}?category=prints" class="dropdown-item">Prints</a>
                <a href="{% url 'products' %}?category=greeting_cards" class="dropdown-item">Greeting Cards</a>
                <a href="{% url 'commissions' %}" class="dropdown-item">Pet Commissions</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'contact' %}" id="connect-link" aria-haspopup="true" aria-expanded="false">
                Connect
            </a>
        </li>
        <li id="mobile-nav-logo" class ="my-auto">
            <hr class="skinny-hr">
            <div class="col-12 col-lg-4  logo-wrapper">
                <a href="{% url 'home' %}" class="nav-link main-logo-link">
                    <img src="https://i.ibb.co/0qDRdG3/bird.png" alt="company logo" height="43"/>
                    <span class="logo-text">
                        Kaytea Art
                    </span>
                </a>
            </div>
        </li>
    </ul>
</div>