{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Katie's Blog
                    <h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <!-- introduction -->
            <div class="row">
                <div class="col-12">
                    <p>
                        Welcome to my blog!
                        </br>
                        Here you will find a collection of posts, inspired by my life in West Cork.
                        </br>
                        Please feel free to join the conversation, by leaving a comment after the post.
                    </p>
                </div>
            </div>
        <!-- admin add blog post button -->
            <div class="row">
                <div class="col-12">
                    <!-- Add blog post button -->
                    {% if request.user.is_superuser %}
                    <a class="btn btn-gen btn-long" href="{% url 'add_blog' %}">Post blog</a>
                    {% endif %}
                </div>
            </div>
    </section>
    <!-- show current blogs -->
    <section class="container">
        <div class="row">
            {% for blog in page_obj %}
            <div class="col-12">
                <div class="row mb-5">
                    <div class="col-12 col-md-4 col-lg-4">
                        {% if blog.image %}
                            <div class="image-container">
                                <a href="{% url 'blog_detail' blog.id %}">
                                    <img class="img-fluid img-top blog-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </a>
                             </div>
                        {% else %}
                            <div class="image-container">
                                <a href="{% url 'blog_detail' blog.id %}">
                                    <img class="img-fluid img-top blog-img"  src="{{ MEDIA_URL }}noimage.jpg" alt="{{ blog.title }}">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-8 col-lg-8">
                        <div class="blog-teaser-content mt-3 mt-md-0">
                            <h2><strong>{{ blog.title|capfirst }}</strong></h2>
                            <p>{{ blog.date|date:'Y-m-d' }} by {{ blog.author }}</p>
                            <p>
                                {{ blog.teaser|truncatechars:200|safe }}
                                <a href="{% url 'blog_detail' blog.id %}" class="blog-read-more"> Read more
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- pagination -->
    <div class="row">
        <div class="col-12">
            <div class="pagination justify-content-center mt-5 mb-3">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" class="btn btn-gen">&laquo; </a>
                        <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-gen">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="btn btn-gen">next </a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-gen"> &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}