{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Katie's Blog
                    <h1>
                </div>
            </div>
        </div>
    </section>
    <!-- introduction -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consectetur nisi metus, sagittis placerat arcu elementum vel. Cras eu lectus congue, blandit neque sit amet, accumsan nisl. Morbi bibendum, elit a rutrum porttitor, lorem nisl molestie augue, id suscipit urna magna nec enim. Cras id ultricies metus, in venenatis mauris. Praesent quis ipsum id felis mollis bibendum. Pellentesque dapibus lobortis mauris non consequat.
            </div>
        </div>
    </div>
    <!-- admin add blog post button -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Add blog post button -->
                {% if request.user.is_superuser %}
                <a class="btn btn-outline-primary my-4" href="{% url 'add_blog' %}">Add Blog Post</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- show current blogs -->
    <div class="container">
        <div class="row">
            {% for blog in page_obj %}
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-5">
                        {% if blog.image %}
                            <div class="image-container mb-4">
                                <a href="{% url 'blog_detail' blog.id %}">
                                    <img class="card-img-top img-fluid img-blog" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                </a>
                             </div>
                        {% else %}
                            <div class="image-container mb-4">
                                <a href="{% url 'blog_detail' blog.id %}">
                                    <img class="card-img-top img-fluid h-100"  src="{{ MEDIA_URL }}noimage.jpg" alt="{{ blog.title }}">
                                </a>
                            </div>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <h2><strong>{{ blog.title }}</strong></h2>
                        <p>{{ blog.date }}</p>
                        <p>{{ blog.body }}</p>
                        <button type="button" class="btn btn-outline-primary uppercase">READ MORE</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="pagination justify-content-center">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </div>
{% endblock %}