{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ blog.title }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="image-container my-5">
                    {% if blog.image %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid h-100"  src="{{ MEDIA_URL }}noimage.jpg"
                            alt="{{ blog.title }}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ blog.date }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for keyword in blog.keywords.all %}
                <span >{{ keyword.name }} </span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ blog.body }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}