{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ blog.title }}
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="image-container my-5">
                    {% if blog.image %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid h-100"  src="{{ MEDIA_URL }}noimage.jpg"
                            alt="{{ blog.title }}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- edit delete buttons -->
        <div class="row">
            <div class="col-12">
                <!-- Superuser edit & delete product buttons -->
                {% if request.user.is_superuser %}
                <a class="btn btn-outline-info mr-2" href="{% url 'edit_blog' blog.id %}" data-toggle="tooltip" data-placement="top"
                    title="Edit Blog">
                    <i class="far fa-edit"></i>
                </a>
                <!-- Button trigger delete product modal -->
                <span data-toggle="modal" data-target="#deleteBlog">
                    <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top"
                        title="Delete Blog">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </span>
                <!-- Modal -->
                <div class="modal fade" id="deleteBlog" tabindex="-1" role="dialog"
                    aria-labelledby="deleteBlogModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteBlogModal">Delete
                                    {{ blog.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this product?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- blog section -->
        <div class="row">
            <div class="col-12">
                {{ blog.date }}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {% for keyword in blog.keywords.all %}
                <span >{{ keyword.name }} </span>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ blog.body }}
            </div>
        </div>
        <!-- Comments -->
        <section>
            <div class="col-12 col-md-8 offset-md-2">
                <div class="row">
                    <div class="col text-center mt-4">
                        <h2>
                            Join the Conversation
                       
                        </h2>
                    </div>
                </div>
                {% for reply in replies %}
                <p>
                    
                    {{ reply.date }} - {{reply.name}}
                <br>
                    {{ reply.body }}
                </p>
                {% if request.user.is_superuser %}
                <!-- Button trigger delete comment modal -->
                <span data-toggle="modal" data-target="#deleteReply_{{ reply.id }}">
                    <button type="button" class="btn btn-outline-danger" data-toggle="tooltip"
                        data-placement="right" title="Delete Reply">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </span>
                <!-- Modal -->
                <div class="modal fade" id="deleteReply_{{ reply.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteReplyModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteReplyModal">Delete Comment</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this comment?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- exclue hr element after last comment -->
                {% if not forloop.last %}
                <hr>
                {% endif %}
                {% empty %}
                <p class="text-center">No comments yet!</p>
                {% endfor %}
            </div>
        </section>
        <!-- Leave a Comment -->
        <section>
            <div class="col-12 col-md-8 offset-md-2">
                <div class="row">
                    <div class="col text-center mt-4">
                        <h2 class="heading small-heading">Leave a Comment</h2>
                    </div>
                </div>
                <form action="{% url 'blog_detail' blog.id %}" method="POST">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <button class="btn btn-outline-primary">Post Comment</button>
                </form>
            </div>
        </section>
    </div>
    <div class="container">
        <div class="row">

        </div>
    </div>
{% endblock %}