{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Blog Detail{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}


{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}
{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    <h1>
                        {{ blog.title|capfirst }}
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- blog page contents -->
    <section class="container pt-2">
        <!-- image + details row -->
        <div class="row">
            <div class="col-12 col-md-7 offset-md-1">
                <!-- Superuser edit & delete product buttons -->
                {% if request.user.is_superuser %}
                <div class="superuser-btn-wrappper">
                    <!--edit-->
                    <a class="btn btn-success mr-2" href="{% url 'edit_blog' blog.id %}" data-toggle="tooltip"
                        data-placement="top" title="Edit Blog">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <!-- delete -->
                    <span data-toggle="modal" data-target="#deleteBlog">
                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                            title="Delete Blog">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </span>
                    <!-- delete modal -->
                    <div class="modal fade" id="deleteBlog" tabindex="-1" role="dialog" aria-labelledby="deleteBlogModal"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteBlogModal">Delete
                                        {{ blog.title }}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this product?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- blog image -->
                <div class="card my-3">
                    {% if blog.image %}
                    <a href="{{ blog.image.url }}" target="_blank">
                        <img class="blog-img-top img-fluid inner-blog-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    </a>
                    {% else %}
                    <img class="blog-img-top img-fluid inner-blog-img" src="{{ MEDIA_URL }}noimage.jpg"
                        alt="{{ blog.title }}">
                    {% endif %}
                </div>
                <!-- keywords -->
                {% if blog.keywords %}
                <div class="blog-keywords my-3">
                    {% for keyword in blog.keywords.all %}
                    <h4 class="d-inline"><span class="badge bg-secondary">{{ keyword.name }} </span></h4>
                    {% endfor %}
                </div>
                {% endif %}
                <!-- blog author -->
                <div class="blog-author-wrapper fs-5 text my-4">
                    {{ blog.author }}
                    <span>•</span>
                    {{ blog.date|date:'Y-m-d' }}
                </div>
            </div>
        </div>
            <!-- blog body -->
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1 ">
                    {{ blog.body|safe }}
                </div>
            </div>
    </section>
    
    <!-- existing comments -->
    <section class="comments-section">
        <div class="container">
            <!--header + write a comment-->
            <div class="row">
                <div class="col-12 ">
                    <div class="row">
                        <div class="col text-center my-4">
                            {% if replies %}
                                <h2>
                                    Join the Conversation ({{ replies.count }})
                                </h2>
                            {% else %}
                                <h2>
                                    Join the Conversation (0)
                                </h2>
                                <p>No comments yet!</p>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            <!-- toggle leave a review -->
                            <div class="col-12 text-center">
                                <p>
                                    <i class="fas fa-arrows-alt"></i>
                                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
                                        aria-controls="collapseExample">
                                        Leave a Comment
                                    </a>
                                </p>
                            </div>
                        {% else %}
                            <div class="col-12 text-center">
                                <p>
                                    Please <a href="{% url 'account_login' %}" class="font-weight-bold">Login</a> to leave a comment.
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2 collapse mt-2 mt-md-3" id="collapseExample">
                            {% if user.is_authenticated %}
                                <!--header row-->
                                <div class="row">
                                    <div class="col-12 text-center mt-4">
                                        <h3 class="mb-3">
                                            Leave a Comment
                                        </h3>
                                    </div>
                                </div>
                                <!--comment form row-->
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <form action="{% url 'blog_detail' blog.id %}" method="POST">
                                            {% csrf_token %}
                                            {{ form | crispy }}
                                            <div class="text-start">
                                                <strong>
                                                    Username:
                                                </strong>
                                                {{ request.user.username }}
                                            </div>
                                            <div>
                                                <button class="btn btn-gen my-4">
                                                    Post Comment
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--existing reviews-->
            <div class="row">
                <div class="col-12 col-md-10 offset-md-1">
                    {% for reply in replies %}
                        <div class="comment-wrapper">
                            <div class="reply-date">
                                <strong>
                                    Date:
                                </strong>
                                {{ reply.date }}
                            </div>
                            <div class="reply-author">
                                <strong>
                                    Posted by:
                                </strong>
                                {{ reply.author }}
                            </div>
                            <p>
                                {{ reply.body }}
                            </p>
                            {% if request.user == reply.author or request.user.is_superuser %}
                            <a class="btn btn-success mr-2" href="{% url 'edit_reply' reply.id %}" data-toggle="tooltip"
                                data-placement="top" title="Edit Blog">
                                <i class="far fa-edit"></i>
                            </a>
                            <!-- Button trigger delete comment modal -->
                            <span data-toggle="modal" data-target="#deleteReply_{{ reply.id }}">
                                <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right"
                                    title="Delete Reply">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </span>
                            <!-- Modal -->
                            <div class="modal fade" id="deleteReply_{{ reply.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="deleteReplyModal" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteReplyModal">Delete Comment</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Are you sure you want to delete this comment?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger" href="{% url 'delete_reply' reply.id %}">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <!-- exclue hr element after last comment -->
                        {% if not forloop.last %}
                            <hr class="hr-replies">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}