{% extends "base.html" %}
{% load static %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        {{ blog.title|capfirst }}
                    <h1>
                </div>
            </div>
        </div>
    </section>
    <!-- blog page contents -->
    <section class="container pt-0">
        <!-- image -->
        <div class="row">
            <div class="col-12">
                <div class="image-container my-3 my-md-4">
                    {% if blog.image %}
                    <a href="">
                        <img class="blog-img-top img-fluid inner-blog-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    </a>
                    {% else %}
                    <a href="">
                        <img class="blog-img-top img-fluid inner-blog-img"  src="{{ MEDIA_URL }}noimage.jpg"
                            alt="{{ blog.title }}">
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- edit + delete buttons -->
        {% if request.user.is_superuser %}
        <div class="row mb-3">
            <div class="col-12">
                <!-- Superuser edit & delete product buttons -->
                <a class="btn btn-outline-info mr-3" href="{% url 'edit_blog' blog.id %}" data-toggle="tooltip" data-placement="top"
                    title="Edit Blog">
                    <i class="far fa-edit"></i>
                </a>
                <!-- Button trigger delete product modal -->
                <span data-toggle="modal" data-target="#deleteBlog">
                    <button type="button" class="btn btn-outline-danger" data-toggle="tooltip" data-placement="top"
                        title="Delete Blog">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </span>
                <!-- Modal -->
                <div class="modal fade" id="deleteBlog" tabindex="-1" role="dialog"
                    aria-labelledby="deleteBlogModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteBlogModal">Delete
                                    {{ blog.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this product?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" href="{% url 'delete_blog' blog.id %}">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- author/date info -->
        <div class="row">
            <div class="col-12">
                <p>
                {{ blog.date|date:'Y-m-d H:i' }} <br>
                <strong>Posted by: </strong> {{ blog.author }}
                </p>
            </div>
        </div>
        <!-- keywords -->
        {% if blog.keywords %}
        <div class="row mb-3">
            <div class="col-12">
                {% for keyword in blog.keywords.all %}
                <span class="badge-purple">{{ keyword.name }} </span>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <!-- blog body -->
        <div class="row">
            <div class="col-12">
                {{ blog.body|safe }}
            </div>
        </div>
    </section>

        <!-- Comments -->
        <section class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="row">
                        <div class="col text-center my-4">
                            <h2 class="small-heading mb-3">
                               Edit your comment
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for field in form %}
                                        {{ field | as_crispy_field }}
                                {% endfor %}
                                <div class="text-right">
                                    <a class="btn btn-outline-primary" href="{% url 'blog_detail' blog.id %}">Cancel</a>
                                    <button class="btn btn-outline-primary" type="submit">Save Changes</button>
                                </div>
                            </form>
                        </div>            
                    </div>
                </div>               
            </div>
        </section>
        <!-- Leave a Comment -->
    </div>

{% endblock %}