{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Blog{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}" />
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Editing Blog "{{ blog.title|capfirst }}"
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <!-- blog form -->
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="{% url 'edit_blog' blog.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.media }}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            <div class="1">
                                {{ field }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div>
                        <button class="btn btn-gen btn-long btn-md my-2" type="submit">Update Blog</button>
                    </div>
                    <div>
                        <a href="{% url 'blog' %}" class="text-uppercase font-weight-bold">
                            <span class="icon">
                                <i class="fas fa-chevron-left mx-2" aria-hidden="true"></i>
                            </span>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>            
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'blog/js/blog.js' %}"></script>
{% endblock %}