{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'commissions/css/commissions.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<section class="page-header-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Pet Commissions
                <h1>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12">
            <form method="POST" action=""  class="form mb-2" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <div class="text-right">
                    <button class="btn btn-outline-primary" type="submit">Submit</button>
                </div>
             </form>
        </div>
    </div>
</section>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'commissions/js/commissions.js' %}"></script>
{% endblock %}
