{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<section class="page-header-block">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1>
                {% trans "Set Password" %}
            <h1>
        </div>
      </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 col-md-7">
            <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-gen btn-lg btn-long mb-3" name="action" value="{% trans 'Set Password' %}"/>
            </form>
        </div>
    </div>
</section>

{% endblock %}
