{% extends "account/base.html" %}

{% block extra_title %} - Register{% endblock %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}

<section class="page-header-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
          <h1>
            {% trans "Register" %}
          </h1>
      </div>
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
      <div class="col-12 col-md-7">
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
            {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-gen btn-long btn-md my-3">{% trans "Sign Up" %} &raquo;</button>
        </form>
        
      </div>
  </div>
  <div class="login-wrapper mt-5">
    <div class="row">
      <div class="col-12 col-md-7">
        <h2 class="mb-3">
          Im already a memeber.
        </h2>
        <a href="{{ login_url }}" class="btn btn-gen btn-long btn-md my-3">Login</a>
      </div>
    </div> 
  </div>
</section>

{% endblock %}
