{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'about/css/about.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
    </div>

{% endblock %}
{% block content %}
<section class="page-header-block">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    About me
                <h1>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card-wrapper">
                <div class="card about-img">
                    <img src="https://katie-harte-art.s3.amazonaws.com/media/katie-main.JPG" class="rounded" alt="Card image cap">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-8">
            <h2>Hello</h2>
            <h3>I'm Katie, welcome to my website</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus odio, sagittis et tellus eu, dapibus gravida arcu. Praesent lacinia, erat sed mattis commodo, purus ipsum malesuada purus, sit amet accumsan.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus odio, sagittis et tellus eu, dapibus gravida arcu. Praesent lacinia, erat sed mattis commodo, purus ipsum malesuada purus, sit amet accumsan.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lacus odio, sagittis et tellus eu, dapibus gravida arcu. Praesent lacinia, erat sed mattis commodo, purus ipsum malesuada purus, sit amet accumsan.
            </p>
            <a href="#" class="mt-4 btn btn-outline-info"><strong>Get in touch with any questions</strong></a>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="rounded" src="https://katie-harte-art.s3.amazonaws.com/media/about-1.jpg" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="rounded" src="https://katie-harte-art.s3.amazonaws.com/media/katie-painting2.png" alt="Card image cap">
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="rounded" src="https://katie-harte-art.s3.amazonaws.com/media/katie_about.jpg" alt="Card image cap">
            </div>
        </div>
    </div>
</section>


{% endblock %}