{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Add Product{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Add Product
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div>
                        <button class="btn btn-gen btn-long btn-md my-2" type="submit">
                            Add Product
                        </button>
                    </div>
                    <div>
                        <a class="btn text-uppercase font-weight-bold" href="{% url 'products' %}">
                            <span class="icon">
                                <i class="fas fa-chevron-left mx-2" aria-hidden="true"></i>
                            </span>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>            
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}