{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Edit Product{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        Editing Product "{{product.name }}"
                    <h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div>
                        <button class="btn btn-gen btn-long btn-md my-2" type="submit">
                            Submit
                        </button>
                    </div>
                    <div>
                        <a class="font-weight-bold text-uppercase" href="{% url 'products' %}">
                            <span class="icon">
                                <i class="fas fa-chevron-left mx-2" aria-hidden="true"></i>
                            </span>
                            Cancel
                        </a>
                    </div>
                </form>
            </div>            
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}