{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}" />
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>

{% endblock %}


{% block content %}
    <!-- page title -->
    <section class="page-header-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>
                        {% if current_categories|length > 1 %}
                            View all
                        {% else %}
                            {% for category in current_categories %}
                                {{ category.friendly_name }}
                            {% endfor %}
                        {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- interactive settings -->
    <section class="container">
        <!-- category buttons -->
        <div class="row">
            <div class="col-12">
                {% for category in all_categories %}
                <a class="btn btn-outline-primary" href="{% url 'products' %}?category={{ category.name }}">
                    <span class="p-2 mt-2 ">{{ category.friendly_name }}</span>
                </a>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-1 mb-2">
            <div class="col-12 col-md-6 my-auto order-sm-last sm-my-4 d-flex justify-content-center justify-content-md-end">
                <div class="sort-select-wrapper">
                    <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                        <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                        <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                        <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                        <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    </select>
                </div>
            </div>
            <!-- product total -->
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
        </div> 
    </section>
    <div class="row">
        <div class="product-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for product in products %}
                <!-- print each product -->
                    <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                        <div class="card product-card h-100 border-0">
                            <!-- Product image -->
                            {% if product.image %}            
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{product.image.url}}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                            <!-- Product details -->
                            <div class="card-body">
                                <p class="mb-0">{{ product.name }}</p>
                            </div>
                            <div class="card-footer bg-white pt-0 border-0 text-left">
                                <div class="row">
                                    <div class="col">
                                        
                                        <p class="lead mb-1 text-left font-weight-bold">€{{ product.price }}
                                        </p>

                                        <div class="small mt-1 mb-0">
                                            <a class="text-muted" href="">
                                                {% if product.category.name %}
                                                <p class="small mt-1 mb-0">
                                                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                        {% if product.category.name == "greeting_cards" %}
                                                        <a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-envelope-open-text"></i>Greeting Cards</a>
                                                        {% elif product.category.name == "original_artwork" %}
                                                            <a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-palette"></i></i>Orginal Artwork</a>
                                                        {% elif product.category.name == "prints" %}
                                                            <a href="{% url 'products' %}?category={{ product.category.name }}"><i class="fas fa-stamp"></i>Print Media</a>
                                                        {% else %}
                                                            no
                                                        {% endif %}
                                                    </a>
                                                </p>
                                                {% endif %}
                                            </a>
                                        </div>
                                        {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        </small>
                                        {% endif %}
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>               
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    <script type="text/javascript">
        $('#sort-selector').change(function(){
            var selector = $(this)
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
                if(selectedVal != "reset"){
                    var sort = selectedVal.split("_")[0];
                    var direction = selectedVal.split("_")[1];

                    currentUrl.searchParams.set("sort", sort);
                    currentUrl.searchParams.set("direction", direction);

                    window.location.replace(currentUrl);
                } else {
                    currentUrl.searchParams.delete("sort");
                    currentUrl.searchParams.delete("direction");

                    window.location.replace(currentUrl);
                }
            })
    </script>
{% endblock %}