{% extends "base.html" %}
{% load static %}

{% block extra_title %} - Product Detail{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">

            </div>
        </div>
    </div>

{% endblock %}


{% block content %}
    <!-- product section-->
    <section class="container">
        <!-- image + details row-->
        <div class="row">
            <!-- product image -->
            <div class="col-12 col-md-5">
                <div class="card my-3">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img  class="main-card-img" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <img class="main-card-img" src="{{ MEDIA_URL }}noimage.jpg" alt="{{ product.name }}">
                    {% endif %}
                </div>
            </div>
            <!-- product details-->
            <div class="col-12 col-md-7">
                <div class="mb-3 mt-md-2">
                    <div class="product-title-wrapper">
                        <h2 class="blue-text">
                            {{ product.name }}
                        <!-- average rating -->
                        </h2>
                        {% if avg_rating %}
                            <p class="lead">
                                <i class="fas fa-star star-rating-icon fa-lg"></i> 
                                {{ avg_rating }}/5
                            </p>
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser %}
                    <!--superuser buttons-->
                    <div class="superuser-btn-wrappper my-2">
                        <!-- edit -->
                        <a class="btn btn-success mr-2" href="{% url 'edit_product' product.id %}" data-toggle="tooltip"
                            data-placement="top" title="Edit Product">
                            <i class="fas fa-pencil-alt"></i>
                        </a>
                        <!-- delete -->
                        <span data-toggle="modal" data-target="#deleteProduct">
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                title="Delete Product">
                                <i class="far fa-trash-alt"></i>
                            </button>
                        </span>
                        <!-- delete modal -->
                        <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog"
                            aria-labelledby="deleteProductModal" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="deleteProductModal">Delete
                                            {{ product.name }}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete this product?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger"
                                            href="{% url 'delete_product' product.id %}">Delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- price-->
                    <div class="price-wrapper mb-2">
                        <span class="lead blue-text price-text">
                            <strong>
                                €{{ product.price }}
                            </strong>
                        </span>
                        <span class="small">
                            Inc. Tax
                        </span>
                    </div>
                    <!--quantity available-->
                    {% if product.stock == 0 %}
                        <p class="red-text font-weight-bold">Sorry, I'm out of stock.</p>
                        <h5 class="font-weight-bold">Did you know..</h5>
                        <p>
                            I am also able to create beautiful custom commisions, just like this.
                            If you are inspired by this piece, please feel free to get in touch with me via the <a href="{% url 'contact' %}" class ="font-weight-bold">contact page</a>
                            <br>
                            Custom Artwork can be as personalised as you, and takes approximately 4-6 weeks to lovingly create.
                        </p>
                    {% endif %}
                    {% if product.stock > 0 %}
                    <!-- Add to basket form -->
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3 ">
                                    <strong>Quantity:</strong>
                                </p>
                                {% if product.stock != 0 %}
                                <div class="form-group w-50">
                                    <!-- show quantity to add as number in stock-->
                                    <select id="id_qty_{{ product.id }}" class="form-control form-select qty_input w-50"
                                        name="quantity" data-item-id="{{ product.id }}">
                                        {% for item in stock_num %}
                                            <option value="{{ item|add:1 }}">
                                                {{ item|add:1 }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                {% endif %}
                            </div>
                            <div class="col-12 mt-4">
                                <input type="submit" class="btn btn-gen btn-md btn-long" value="Add to Bag">
                            </div>
                            <div class="col-12 mt-2">
                                <a href="{% url 'products' %}?category=original_artwork,prints,greeting_cards" class="text-uppercase font-weight-bold">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left mx-2"></i>
                                    </span>
                                    <span>Keep Shopping</span>
                                </a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- extra description row-->
        <div class="row">
            <div class="col-12">
                <!--category name-->
                {% if product.category.name %}
                <div class="mt-2">
                    <span class="d-inline">
                        <strong>
                            Category:
                        </strong>
                    </span>
                    <em>
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            {{ product.category.friendly_name }}
                        </a>
                    </em>
                </div>
                {% endif %}
                <!-- size, media -->
                <div class="mt-2">
                    <span class="d-inline">
                        <strong>
                            Artwork details:
                        </strong>
                    </span>
                    <em>
                        {{ product.size }}, {{ product.media }}
                    </em>
                </div>
                {% if product.description %}
                    <div class="mt-2">
                        <span>
                            <strong>
                                Description:
                            </strong>
                        </span>
                        {{ product.description|safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Comments -->
    <section class="replies-section">
        <div class="container">
            <!-- header + write a review-->
            <div class="row">
                <div class="col-12 ">
                    <!-- full width header row-->
                    <div class="row">
                        <div class="col-12 review-header text-center my-4">
                            {% if reviews %}
                                <h2>
                                    Reviews ({{ reviews.count }})
                                </h2>
                                {% else %}
                                <h2>
                                    Reviews (0)
                                </h2>
                                <p>No reviews yet!</p>
                            {% endif %}
                        </div>
                        {% if user.is_authenticated %}
                            <!-- toggle leave a review -->
                            <div class="col-12 text-center">
                                <p>
                                    <i class="fas fa-arrows-alt"></i>
                                    <a data-toggle="collapse" href="#collapseExample" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">
                                        Review this Artwork
                                    </a>
                                </p>
                            </div>
                        {% else %}
                            <div class="col-12 text-center">
                                <p>
                                    Please <a href="{% url 'account_login' %}" class="font-weight-bold">Login</a> to leave a review.
                                </p>
                            </div>
                        {% endif %}
                    </div>
                    <!-- leave a review form-->
                    <div class="row">
                        <div class="col-12 col-md-8 offset-md-2 collapse mt-2 mt-md-3" id="collapseExample">
                            {% if user.is_authenticated %}
                            <!--header row-->
                            <div class="row">
                                <div class="col-12 text-center mt-4">
                                    <h3 class="mb-3">
                                        Leave a Review
                                    </h3>
                                </div>
                            </div>
                            <!--review for, row-->
                            <div class="row">
                                <div class="col-12 text-center">
                                    <form action="{% url 'product_detail' product.id %}" method="POST">
                                        {% csrf_token %}
                                            {{ form.review_text | as_crispy_field }}
                                            {{ form.review_rating | as_crispy_field }}
                                        <div class="text-start">
                                            <strong>
                                                Username:
                                            </strong>
                                            {{ request.user.username }}
                                        </div>
                                        <div>
                                            <button class="btn btn-gen btn-long my-4 btn-md">
                                                Post Review
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!--existing reviews-->
            <div class="row">
                <div class="col-12 col-md-8">
                    {% for review in reviews %}
                        <div class="review-wrapper">
                            <div class="review-date">
                                <strong>
                                    Date:
                                </strong>
                                {{ review.date }}
                            </div>
                            <div class="review-autor">
                                <strong>
                                    Posted by:
                                </strong>
                                {{ review.author }}
                            </div>
                            <div class="review-rating">
                                <i class="fas fa-star star-rating-icon fa-lg"></i> 
                                {{ review.review_rating }}/5
                            </div>
                            <p>
                                {{ review.review_text }}
                            </p>
                            {% if request.user == review.author or request.user.is_superuser %}
                                <div class="row">
                                    <div class="col-12">
                                        <a class="btn btn-success mr-2" href="{% url 'edit_review' review.id %}" data-toggle="tooltip"
                                        data-placement="top" title="Edit Review">
                                        <i class="fas fa-pencil-alt"></i>
                                    </a>
                                    <!-- Button trigger delete comment modal -->
                                    <span data-toggle="modal" data-target="#deleteReview_{{ review.id }}">
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="right"
                                            title="Delete Review">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </span>
                                    <!-- Modal -->
                                    <div class="modal fade" id="deleteReview_{{ review.id }}" tabindex="-1" role="dialog"
                                        aria-labelledby="deleteReviewModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteReviewModal">Delete Review</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete this Review?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <a class="btn btn-danger" href="{% url 'delete_review' review.id %}">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <!-- exclue hr element after last comment -->
                        {% if not forloop.last %}
                            <hr class="hr-reviews">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript" src="{% static 'products/js/products.js' %}"></script>
{% endblock %}
