<div class="toast" data-autohide="false">
    <!-- Toast header -->
    <div class="toast-header">
        <strong class="mr-auto"><i class="far fa-check-circle fa-lg"></i></strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- Toast body -->
    <div class="toast-body">
        <!-- Toast message -->
        <div class="row">
            <div class="col">
                {{ message }}
                <hr class="mt-2 mb-3">
            </div>
        </div>
        <!-- Shopping basket -->
        {% if grand_total and not on_profile_page and not on_blog_page and not on_blog_post_page %}
        <p class="logo-font text-black py-1">Your Basket ({{ product_count }} item{{ product_count|pluralize}})</p>
        <div class="bag-notification-wrapper">
            {% for item in bag_items %}
                <div class="row">
                    <div class="col-3 my-1">
                        {% if item.product.image %}
                        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        {% else %}
                        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                        <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col">
                <strong>
                    <p class="mt-3 mb-1">
                        Basket Total:<span class="float-right">€{{ total|floatformat:2 }}</span>
                    </p>
                </strong>
                {% if free_delivery_delta > 0 %}
                <p class="my-2 orange-text">
                    Get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
                </p>
                {% endif %}
                <!-- Shopping basket buttons -->

                <a href="{% url 'view_bag' %}" class="btn btn-block text-uppercase">Go to Checkout</a>
            </div>
        </div>
        {% endif %}
    </div>
</div>